<header class="navbar">
  <nav role="nav">
    <ul class="navbar__ul">
      <li class="navbar__item">
        <a class="navbar__link {{#if activePage.home}}navbar__link--active{{/if}}" href="/">Home</a>
      </li>
    </ul>
  </nav>
</header>