<div class="container">
  <div class="register__container">
    <form action="/register" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" value="" id="username">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <label for="password">Confirm Password</label>
      <input type="password" name="confirm-password" id="confirm-password">
    </form>
  </div>

  <div class="login__container">
    <form action="/login" method="POST">
      <label for="login-username">Username</label>
      <input type="text" name="username" value="" id="login-username">
      <label for="login-password">Password</label>
      <input type="password" name="password" id="login-password">
    </form>
  </div>
</div>